back = esc
start = enter
guide = enter
a = mouse_right
b = mouse_left
x = esc
y = e
l1 = shift
l2 = home
r1 = s
r2 = end
up = mouse_movement_up
down = mouse_movement_down
left = mouse_movement_left
right = mouse_movement_right
mouse_scale = 512
mouse_delay = 16
dpad_mouse_step = 7
